body {
    font-family: 'Arial', sans-serif;
    background-color: #ffccff;
    color: #330033;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #ff99cc;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

h1 {
    margin: 0;
}

h2 {
    margin: 10px 0;
}

main {
    margin-top: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #330033;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #ff66b3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff3399;
}

footer {
    margin-top: 20px;
    text-align: center;
}
